name: deploy-backend

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests
        
      - name: Build image
        uses: ./.github/actions/docker-build-or-tag
        with:
          token: ${{ secrets.GH_TOKEN }}
          image-name: job-winner
          dockerfile_dir: .

  update-deploy-repo-tag:
    needs:
      - docker-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Generate GitHub App token
        id: app-token
        uses: ./.github/actions/update-deployment-repo
        with:
          app-name: job-winner
          deployment-type: backend
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
